<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!--<section
      name="Telerik.Reporting"
      type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=9.0.15.324, Culture=neutral, PublicKeyToken=a9d7983dfcc261be"
      allowLocation="true"
      allowDefinition="Everywhere"/>-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BootstrapWebApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-FMFWebApp.mdf;Initial Catalog=aspnet-FMFWebApp;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=skipast.cloud.fo;Initial Catalog=aspnet-FMFWebApp;Persist Security Info=True;User ID=benjamin;Password=kurlA6906" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnectionRemote" connectionString="Data Source=skipast.cloud.fo;Initial Catalog=aspnet-FMFWebApp;Persist Security Info=True;User ID=benjamin;Password=Password01" providerName="System.Data.SqlClient" />-->
    <add name="BootstrapWebApplicationContext" connectionString="Data Source=skipast.cloud.fo;Initial Catalog=fmfwebapp;Persist Security Info=True;User ID=benjamin;Password=kurlA6906" providerName="System.Data.SqlClient" />
    <!--<add name="BootstrapWebApplicationContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=fmfwebapp;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
    <add name="FMFWebAppContextRemote" connectionString="Data Source=skipast.cloud.fo;Initial Catalog=fmfwebapp;Persist Security Info=True;User ID=benjamin;Password=kurlA6906" providerName="System.Data.SqlClient" />
    <add name="FMFReportingContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=fmfwebapp;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="fmfwebapp" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=fmfwebapp;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Lundin_fff_fffConnection" connectionString="metadata=res://*/Model.Lundin_fff_fff.csdl|res://*/Model.Lundin_fff_fff.ssdl|res://*/Model.Lundin_fff_fff.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.236;initial catalog=lundin_fff_fff;persist security info=True;user id=sa;password=hXDm6980;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="lundin_fff_alkaEntities" connectionString="metadata=res://*/Model.AlkaModel.csdl|res://*/Model.AlkaModel.ssdl|res://*/Model.AlkaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.236;initial catalog=lundin_fff_alka;persist security info=True;user id=sa;password=hXDm6980;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Dev" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EnableSSLOnMail" value="True" />
    <!-- Twilio-->
    <add key="TwilioSid" value="ACe22abacbf97dbd108eb5629ab1256cdd" />
    <add key="TwilioToken" value="111c87dc57987202b84a2f354c916b10" />
    <add key="TwilioFromPhone" value="+14144463797" />
    <!--+1 414-446-3797-->
    <!--<add key="DatabaseInitializerForType BootstrapWebApplication.DAL.BootstrapContext, BootstrapModel" value="BootstrapWebApplication.Migrations.Configuration, BootstrapModel" />-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--<trust level="Medium" />-->
    <!--<roleManager enabled="true" />-->
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="fo-FO" uiCulture="fo-FO" />
    <!--<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US" />-->
    <authentication mode="None" />
    <!--<machineKey decryptionKey="23FF12551F8E08267B98C6F604D20FB8BE159C8C9BE0283F"
                validationKey="E888B02745A0C784C79E64113A176EA42FE11AD0B7CBE1612D1A8F8A0F00D2A525F03394DEF677A2DECEF242CC221232F87D8F7381601AD7A72C8CA2C89B157C" />-->
    <!--<compilation debug="true" targetFramework="4.5.1">-->
    <!--<compilation defaultLanguage="c#" enablePrefetchOptimization="true" tempDirectory="C:\Temp\DotNetCompilation\Skipast" optimizeCompilations="true" debug="true" targetFramework="4.5.1">-->
    <compilation defaultLanguage="c#" enablePrefetchOptimization="true" optimizeCompilations="true" debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <!--<httpRuntime targetFramework="4.5" maxRequestLength="4096" requestValidationMode="4.0" executionTimeout="110" />-->
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" requestValidationMode="4.0" executionTimeout="3600" />
    <!--<customErrors mode="Off" />-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/GenericErrorPage.aspx">
      <error statusCode="404" redirect="~/GenericErrorPage.aspx" />
    </customErrors>-->
    <customErrors mode="RemoteOnly" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="~/Error/404.html" />
      <error statusCode="500" redirect="~/Error/500.html" />
    </customErrors>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>-->
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" />
      <error statusCode="404" path="~/ErrorPages/404.html" responseMode="ExecuteURL" />
    </httpErrors>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <!-- IIS 7.X - Registers 51Degrees Detector Module. Without this call to 51Degrees.core.js won't work.-->
      <remove name="FormsAuthenticationModule" />
      <remove name="Detector" />
      <add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <!--<remove fileExtension=".js" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="500.00:00:00" />-->
    </staticContent>
    <!--<urlCompression doStaticCompression="true" doDynamicCompression="true" />-->
    <handlers>
      <!--<remove name="ExtensionlessUrlHandler-Integrated-4.0" />-->
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <!--<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />-->
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <!--<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />-->
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework codeConfigurationType="BootstrapWebApplication.DAL.BootstrapConfiguration, BootstrapDAL">
    <!--<contexts>
      <context disableDatabaseInitialization="false" type="BootstrapWebApplication.DAL.BootstrapContext, BootstrapModel">
        <databaseInitializer type="BootstrapWebApplication.Migrations.Configuration, BootstrapModel">
          <parameters>
            
          </parameters>
        </databaseInitializer>
      </context>
    </contexts>-->
    <!--<contexts>
      <context type="BootstrapWebApplication.DAL.BootstrapContext, BootstrapModel">
        <databaseInitializer type="BootstrapWebApplication.Migrations.Configuration, BootstrapModel">
          
        </databaseInitializer>
      </context>
    </contexts>-->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <BootstrapWebApplication.Properties.Settings>
      <setting name="PagingResultsPerPage" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>Bootstrap Web App</value>
      </setting>
    </BootstrapWebApplication.Properties.Settings>
  </applicationSettings>
  <!--<Telerik.Reporting>
    <Cache provider="Database">
      <Providers>
        <Provider name="Database">
          <Parameters>
            <Parameter name="BackendName" value="mssql" />
            <Parameter name="ConnectionString" value="Data Source=WIN-4N34M48TAKS;Initial Catalog=TelerikSession;Persist Security Info=True;User ID=benjamin;Password=kurlA6906" />
          </Parameters>
        </Provider>
      </Providers>
    </Cache>
  </Telerik.Reporting>-->
</configuration>